.html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(246, 229, 209);
    font-family: sans-serif;
}

.main {
    height: 100%;
    width: 100%;
    background-color: rgb(246, 229, 209);
    
}




.nav {
    margin-top: -10px;
    margin-left: -20px;
    margin-right:-0px;
    background-color: black;
    opacity: 80%;
    height: 70px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin-top: 5px;
    list-style: none;
    font-weight: bold;
    display: inline-block
}
li a{
        
    margin-right:20px;
    text-decoration: none;
    color:white;
    font-size: 17px;
}
/* ANIMATED NAVIGATION BAR */
/* li a:after{
    content:"";
    position:absolute;
    background-color:rgb(241, 187, 88);
    transition:0.2s;
    height:3px;
    width:100%;
    left:0;
    bottom:450px;
} */

ul a:hover{
    color:rgb(241, 187, 88);
}
ul a:hover:after{
    width:100%;
}

/* STYLING FOR PROFILE */
/* li img {
    height: 19px;
    width: 19px;
    aspect-ratio: 1/1;
} */

/* BODY PART CSS */
.hero {
    background-color: rgb(246, 229, 209);
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero img {
    margin-bottom: 10px;
    height: 400px;
    width: 400px;
    aspect-ratio: 1/1;
    object-fit: contain;
    mix-blend-mode: multiply;
    margin-right: 40px;
    margin-top: 35px
}

.hero pre {
    font-weight: bold;
    font-family: 'Times New Roman';
    font-size: 35px;
    color: black;
    margin-left: -20px;
    margin-top: 50px;
}

/* BUTTON STYLING */
button {
    background-color: rgb(241, 187, 88);
    border-radius: 6px;
    padding: 8px 22px;
    filter: drop-shadow(0 0 10px black);
    border-style:none;
}

button a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}





/* STYLING FOR LOGIN */
.log a{
    text-decoration: none;
   
}

.log button {
    background-color:rgb(241, 187, 88);
    border-radius: 6px;
    padding: 8px 65px;
    margin-top: 20px;
 border-style:none;
    color:white;
    font-weight: bold;
    
    /* filter:drop-shadow(0 0 10px black); */
    /* padding-right: 100px; */
}


.log button:hover{
    background-color:lightgrey;
    color:black;
}

.log {
    margin-top: 65px;
    margin-left: 35%;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    height: fit-content;
    padding: 20px;
    box-shadow: 0 0 10px black;
}

.log form {
    align-items: center;
    margin-left: 15%;
    
}

/* .submit{
    background-color:rgb(243, 184, 73);
} */




/* about.php */
.box {
    margin-left:39%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    border-color:rgb(241, 187, 88);
    width: fit-content;
    height: fit-content;

    padding: 20px;
    box-shadow: 0 0 10px black;
}
/* .nav li:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */
  /* STYLING OF LOGO */
  .ig{
    height:85px;
    aspect-ratio: 1,1;
    margin-left:25px;
    margin-top:-10px;
}
/* STYLING OF RGISTER HERE */
.reg p{
    /* margin-right:30px; */
    text-align: center;
     color:rgb(241, 187, 88);
     font-size: large;
     font-style: bold;
 }
 /* STYLING OF ERROR MESSAGE THROWING */
 .sucess{
    border-radius: 20px;
    box-sizing: border-box;
    background-color: red;
    opacity:50%;
    font-family: sans-serif;
    color:red;
 }
 /* STYLING OF FOOTER */
/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
  
    color:white;
    margin:auto;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.fdata{
    background-color: black;
    padding:40px 0;
    opacity:50%;
}
.footer-col{
    width:25%;
    padding:0 15px;

}
.footer-col h4{
    font-size: 18px;
    color:#ffffff;
    margin-bottom: 20px;
} */
/* .footer-col h4:before{
    content:"";
    position:absolute;
    background-color: rgb(241, 187, 88);
    left:0;
    bottom:-85px;
    height:2px;
    box-sizing: border-box;
    width: 50px;
} */
/* .footer-col h4:hover{
    color:rgb(241, 187, 88);
} */